<!-- -->
<launch>




    <!-- Ini Navigation Companion Nodes -->
   <!--launch-prefix="xterm -e ddd -args"  -->

  <!--<group ns="dabo"> -->
    <!--<rosparam command="delete" ns="/move_base" />-->

<!-- /mobile_base_controller/cmd_vel-->
   <node pkg ="move_base"
          type="move_base"
          name="move_base"      
          output="screen">
    <!--  <remap from="/dabo/move_base/cmd_vel"
              to="/dabo/navigation/cmd_vel" />-->
    <!--  <remap from="/dabo/cmd_vel"
              to="/dabo/cmd_vel_unsafe" />-->
      <remap from="/move_base/cmd_vel"
              to="/navigation/cmd_vel" />
      <remap from="/cmd_vel"
              to="/mobile_base_controller/cmd_vel" />
      <remap from="/move_base/odom"
              to="/mobile_base_controller/odom" />
       <remap from="/cost_map"
             to="/move_base/global_costmap/costmap" />
      <remap from="/front_scan"
              to="/scan_front_raw" />
      <remap from="/rear_scan"
              to="/scan_rear_raw" />
     <remap from="/tracks"
               to="/mht_2/tracks" />
      <!--<remap from="/dabo/tracked_humans"
               to="/tracked_humans" />-->
      <rosparam file="$(find iri_robot_aspsi)/config/tiago_dual/move_base_params.yaml"      command="load" />
      <rosparam file="$(find iri_robot_aspsi)/config/tiago_dual/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find iri_robot_aspsi)/config/tiago_dual/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find iri_robot_aspsi)/config/tiago_dual/local_costmap_params.yaml"  command="load" />
      <rosparam file="$(find iri_robot_aspsi)/config/tiago_dual/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find iri_robot_aspsi)/config/tiago_dual/akp_local_planner_params.yaml" command="load" />
      <rosparam file="$(find iri_robot_aspsi)/config/tiago_dual/amcl_companion_test_ely2021_mapFME.yaml" command="load" />
 <!--<rosparam file="$(find iri_dabo_rosnav)/params/global_planner/global_planner_params.yaml" command="load" />
 <rosparam file="$(find iri_dabo_rosnav)/params/mux.yaml" command="load" />-->
      <param name="AkpLocalPlanner/destination_map_path" value="$(find iri_robot_aspsi)/maps/master_big_destinations_Gazebo_sim.txt" />
	<param name="AkpLocalPlanner/results_filename_Zanlungo" value="name_file.txt" /> 
      <param name="AkpLocalPlanner/robot" value="dabo"/>
      <param name="AkpLocalPlanner/person_goal_id"  value="200"/> 
      <param name="AkpLocalPlanner/speed_k"  value="1"/> 
      <param name="AkpLocalPlanner/person_radi_amp"  value="0.2"/> 
      <param name="AkpLocalPlanner/change_treshold_distance_between_steps"  value="0.3"/> 
	<!-- for SIM-->
 	<param name="AkpLocalPlanner/change_sim"  value="False"/> 
 	<param name="AkpLocalPlanner/change_sim_target_per"  value="False"/> 
        <param name="AkpLocalPlanner/frame_robot_footprint"  value="base_footprint"/> 
    </node>

  <!--</group>-->
 
 
 <!-- Mi nodo tambien necesita el map server.-->
  <arg name="ns"                         default="robot"/>
  <arg name="map_frame_id"               default="map"/>
  <arg name="map_name"                 default="master_big"/>
  <arg name="map_topic"                  default="/map"/>
  <arg name="map_service"                default="/map_server"/>
   <arg name="launch_prefix"              default="" />
    <arg name="use_map"                    default="true"/>
  <arg name="use_map_server"             default="true"/>
  <arg name="output"                     default="screen" />
  
  <group if="$(arg use_map)">
    <group if="$(arg use_map_server)">
      <include file="$(find iri_rosnav)/launch/include/map_server.launch">
        <arg name="ns"            value="$(arg ns)"/>
        <arg name="map_frame_id"  value="$(arg map_frame_id)"/>
        <!--<arg name="map_path"      value="$(arg map_path)"/>-->
        <arg name="map_name"      value="$(arg map_name)"/>
        <arg name="map_topic"     value="$(arg map_topic)"/>
        <arg name="map_service"   value="$(arg map_service)"/>
        <arg name="output"        value="$(arg output)" />
        <arg name="launch_prefix" value="$(arg launch_prefix)" />
      </include>
    </group>
</group>

  <arg name="config_file"   default="$(find iri_safe_cmd)/param/sample.yaml" />
<!--  <arg name="node_name"     default="iri_safe_cmd" />-->
<!--  <arg name="output"        default="screen" />-->
<!--  <arg name="launch_prefix" default="" />
<node pkg ="iri_safe_cmd"
        type="iri_safe_cmd"
        name="iri_safe_cmd"
        ns="dabo"
        output="screen"
        launch-prefix="$(arg launch_prefix)">
    <rosparam file="$(find iri_safe_cmd)/param/sample.yaml" command="load" />
    <param name="base_frame" value="dabo/base_link" />
    <remap from="~cmd_vel_safe" to="/mobile_base_controller/cmd_vel"/>
    <remap from="~cmd_vel"      to="/dabo/cmd_vel_unsafe"/>
    <remap from="/dabo/iri_safe_cmd/rear_scan"   to="/scan_rear_raw"/>
    <remap from="/dabo/iri_safe_cmd/front_scan"  to="/scan_front_raw"/>
    <remap from="~joy"          to="/joy_vel"/>
  </node>-->

 <!-- <node name="dr" pkg ="rqt_reconfigure" type="rqt_reconfigure" />-->

</launch>
